{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>ETH Study Collection</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}

    {% endblock %}
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">ETH Study Collection</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Crowdsale</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Project</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="page-scroll">
                        <a href="#accounts">{{ user.username }} </a>
                    </li>
                    {% endif %}
                    <li class="page-scroll">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Signout</a>
                        {% else %}
                            <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login with github</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/main.png' %}" alt="">
                    <div class="intro-text">
                        <span class="name">E-learning Crowdsale</span>
                        <hr class="star-light">
                        <span class="skills">You can buy E-learning Crowdsale by Ethereum!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>E-Learning Crowdsale!</h2>
                    {% if user.is_authenticated %}
                    <p>Your Address(Private-net): {{ address }}</p>
                        <strong> 테스트 넷입니다. 위 주소로 입금하지마시오.</strong>
                    <p>Amount: {{ balance }} Ether</p>
                    {% endif %}
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" name="funding">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>


    {% if user.is_authenticated %}
    <section id="accounts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Funding</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for each in history_txid %}
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" name="funding">{{ each.funding }}</a>
                    <p>Transaction: {{ each.txid }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">This project is Smart Contract based on ethereum. <br><strong>Only testnet! Please DO NOT deposit real Ethereum!</strong></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/CodeMath/SmartCotract_Etherum_Example" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Project
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Donate</h3>
                        <p>ETH: 0x2ce4ae84442f8ed335738ed6a48ffff49b64895d</p>
                        <p>BTC: 3MKLGeqHgS1KPFh25fnDV9cs6KrxumMNWn</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Project</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/CodeMath/SmartCotract_Etherum_Example" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Developer</h3>
                        <p><a href="https://codemath.github.io">Codemath</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; ETH Study Collection 2018
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Test Case1</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive img-centered" alt="">
                            <p>You can learn about ethereum and solidity language!</p>
                            <ul class="list-inline item-details">
                                <li>최소금액
                                    <strong> 0.5 ETH
                                    </strong>
                                </li>
                                <li>목표금액:
                                    <strong> 1000 ETH
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Vimeo</strong>
                                </li>
                            </ul>

                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">현재 펀딩 ETH </label>
                                    <input type="text" readonly aria-readonly="true" value="" id="funding_balance">
                                </div>
                                <div class="form-group">
                                    <label for="">구매 ETH </label>
                                    {% if user.is_authenticated %}
                                        <input type="number" value="0.5" name="price" id="price">
                                    {% else %}
                                        <input type="text" readonly aria-readonly="true" value="최초 로그인 시, 테스트 5 ETH" name="getBalance">
                                    {% endif %}
                                    <p><strong>테스트 넷 입니다!</strong></p>
                                </div>
                                {% if user.is_authenticated %}
                                    <a href="#" class="btn btn-primary" name="ethsending">펀딩하기</a>
                                {% else %}
                                    <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-primary">로그인이 필요합니다.</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>



    <!-- Web3.js -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@0.20.6/dist/web3.min.js"></script>

    <!-- Required Account -->
{#    <script type="text/javascript">#}
{#	    var Web3 = require('web3');#}
{#	    var web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:8545'));#}
{#    </script>#}

    <script type="application/javascript">
        $('a[name=funding]').on('click',function(){
            $.ajax({
                type:"POST",
                url:"/funding/",
                dataType:"json",
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success:function(data){
                    if (data["error"]) {
                        alert(data["error"])
                    } else {
                        $('#funding_balance').val(data["funding"])
                    }
                }
            })
        });

        $('a[name=ethsending]').on('click', function() {
            $.ajax({
                type: "POST",
                url: "/transaction/eth/",
                dataType: 'json',
                data: {
                    'price': $('#price').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data["error"]) {
                        alert(data["error"])
                    } else {
                        console.log(data["txid"]);
                        alert("Transaction 대기중 입니다. :) ")
                        location.reload();
                    }
                }
            })
        });
    </script>

</body>
</html>